.mobile-menu-sprites { background-image: url(sprites.png);background-size: 578px 498px;display: inline-block;}
.sys-ico-1 { width: 48px; height: 54px; background-position: -530px -148px; }
.sys-ico-10 { width: 54px; height: 54px; background-position: -222px -296px; }
.sys-ico-11 { width: 54px; height: 54px; background-position: 0px -296px; }
.sys-ico-12 { width: 54px; height: 54px; background-position: -382px 0px; }
.sys-ico-13 { width: 56px; height: 54px; background-position: -78px -74px; }
.sys-ico-14 { width: 52px; height: 54px; background-position: -456px -222px; }
.sys-ico-15 { width: 54px; height: 54px; background-position: 0px -222px; }
.sys-ico-16 { width: 54px; height: 54px; background-position: -308px -148px; }
.sys-ico-17 { width: 56px; height: 54px; background-position: -158px 0px; }
.sys-ico-18 { width: 54px; height: 54px; background-position: -382px -222px; }
.sys-ico-19 { width: 54px; height: 54px; background-position: 0px -370px; }
.sys-ico-2 { width: 48px; height: 54px; background-position: -530px 0px; }
.sys-ico-20 { width: 58px; height: 54px; background-position: -80px 0px; }
.sys-ico-21 { width: 56px; height: 54px; background-position: -158px -74px; }
.sys-ico-22 { width: 56px; height: 54px; background-position: 0px -148px; }
.sys-ico-23 { width: 54px; height: 54px; background-position: -74px -222px; }
.sys-ico-24 { width: 54px; height: 54px; background-position: -148px -222px; }
.sys-ico-25 { width: 54px; height: 54px; background-position: -222px -222px; }
.sys-ico-26 { width: 54px; height: 54px; background-position: -308px 0px; }
.sys-ico-27 { width: 54px; height: 54px; background-position: -308px -74px; }
.sys-ico-28 { width: 58px; height: 54px; background-position: 0px -74px; }
.sys-ico-29 { width: 54px; height: 54px; background-position: -308px -222px; }
.sys-ico-3 { width: 49px; height: 54px; background-position: -210px -444px; }
.sys-ico-30 { width: 50px; height: 54px; background-position: -456px -296px; }
.sys-ico-31 { width: 48px; height: 54px; background-position: -415px -444px; }
.sys-ico-32 { width: 54px; height: 54px; background-position: -148px -296px; }
.sys-ico-33 { width: 54px; height: 54px; background-position: -234px -74px; }
.sys-ico-34 { width: 54px; height: 54px; background-position: -296px -296px; }
.sys-ico-35 { width: 60px; height: 54px; background-position: 0px 0px; }
.sys-ico-36 { width: 54px; height: 54px; background-position: -382px -74px; }
.sys-ico-37 { width: 54px; height: 54px; background-position: -382px -148px; }
.sys-ico-38 { width: 56px; height: 54px; background-position: -76px -148px; }
.sys-ico-39 { width: 54px; height: 54px; background-position: -382px -296px; }
.sys-ico-4 { width: 50px; height: 54px; background-position: -456px -370px; }
.sys-ico-40 { width: 56px; height: 54px; background-position: -152px -148px; }
.sys-ico-41 { width: 46px; height: 54px; background-position: -530px -222px; }
.sys-ico-42 { width: 52px; height: 54px; background-position: -456px -148px; }
.sys-ico-43 { width: 54px; height: 54px; background-position: -222px -370px; }
.sys-ico-44 { width: 54px; height: 54px; background-position: -296px -370px; }
.sys-ico-45 { width: 52px; height: 54px; background-position: -456px -74px; }
.sys-ico-46 { width: 54px; height: 54px; background-position: -370px -370px; }
.sys-ico-47 { width: 54px; height: 54px; background-position: -148px -370px; }
.sys-ico-48 { width: 54px; height: 54px; background-position: -234px -148px; }
.sys-ico-49 { width: 48px; height: 54px; background-position: -347px -444px; }
.sys-ico-5 { width: 50px; height: 54px; background-position: -140px -444px; }
.sys-ico-50 { width: 48px; height: 54px; background-position: -279px -444px; }
.sys-ico-51 { width: 54px; height: 54px; background-position: -456px 0px; }
.sys-ico-52 { width: 54px; height: 54px; background-position: -74px -370px; }
.sys-ico-53 { width: 54px; height: 54px; background-position: -74px -296px; }
.sys-ico-6 { width: 54px; height: 54px; background-position: -234px 0px; }
.sys-ico-7 { width: 50px; height: 54px; background-position: 0px -444px; }
.sys-ico-8 { width: 48px; height: 54px; background-position: -530px -74px; }
.sys-ico-9 { width: 50px; height: 54px; background-position: -70px -444px; }
