@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


.com-container {
  padding: 10px 10px;
  background: #f0f2f5;
  min-height: 90vh;

  .com-con-box {
    background: #ffffff;
    padding: 10px;
    min-height: 600px;

    .com-bar {
      position: relative;
      border-bottom: 5px solid #f0f2f5;

      .com-bar-show {
        display: flex;
        justify-content: space-between;

        .com-bar-item {
          margin-bottom: 10px;
          display: inline-block;
        }

        .com-bar-left {
          //margin-top: 10px;
        }

        .com-bar-right {
          .com-search-item {
            min-width: 180px;

            &.com-search-item-time {
              width: 320px;
            }

            .com-search-item-label {
              color: #8c939d;
            }
          }
        }
      }

      .com-more-search {
        //min-height: 80px;
        background: #fafafa;
        border: 1px dashed #CCCCCC;
        padding-top: 10px;

        .demo-ruleForm {
          .el-form-item__label {
            font-weight: normal !important;
            font-size: 12px;
          }
        }
      }
    }

  }

  .com-color-warning {
    color: #e6972e;
  }

  .com-color-danger {
    color: $red;
  }
}

.com-el-talble-col-name {
  color: #0a76a4;
  cursor: pointer;

  .cell {
    &:hover {
      text-decoration: underline;
    }

  }
}

.com-el-talble-col-title-name {
  color: #333333;
  cursor: auto;
}

.com-detail-item-value {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px dashed #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  min-height: 34px;
  line-height: 34px;
  outline: none;
  padding: 0 15px;
  width: 100%;
}
