.easy-icon { background-image: url(~sprite.png);background-size: 274px 200px;display: inline-block;}
.easy-icon-avatar { width: 54px; height: 54px; background-position: -220px 0px; }
.easy-icon-logo { width: 200px; height: 200px; background-position: 0px 0px; }
