.menu-sprites { background: url(sprites.png) no-repeat; display: inline-block;}
.a1 { width: 20px; height: 20px; background-position: 0 0; }
.a2 { width: 20px; height: 20px; background-position: -44px 0; }
.a { width: 20px; height: 20px; background-position: -65px 0; }
.aa1 { width: 20px; height: 20px; background-position: -105px 0; }
.aa2 { width: 20px; height: 20px; background-position: -126px 0; }
.aa { width: 20px; height: 20px; background-position: -19px -21px; }
.b1 { width: 18px; height: 20px; background-position: -86px 0; }
.b2 { width: 18px; height: 20px; background-position: 0 -21px; }
.b { width: 18px; height: 20px; background-position: -128px -21px; }
.bb1 { width: 22px; height: 20px; background-position: -21px 0; }
.bb2 { width: 22px; height: 20px; background-position: -61px -21px; }
.bb { width: 22px; height: 20px; background-position: -84px -21px; }
.c1 { width: 20px; height: 20px; background-position: -40px -21px; }
.c2 { width: 20px; height: 20px; background-position: -107px -21px; }
.c { width: 20px; height: 20px; background-position: 0 -42px; }
.cc1 { width: 20px; height: 20px; background-position: -21px -42px; }
.cc2 { width: 20px; height: 20px; background-position: -109px -42px; }
.cc { width: 20px; height: 20px; background-position: -23px -63px; }
.d1 { width: 18px; height: 20px; background-position: -88px -42px; }
.d2 { width: 18px; height: 20px; background-position: -63px -105px; }
.d { width: 18px; height: 20px; background-position: -44px -147px; }
.dd1 { width: 20px; height: 20px; background-position: -44px -63px; }
.dd2 { width: 20px; height: 20px; background-position: -65px -63px; }
.dd { width: 20px; height: 20px; background-position: 0 -84px; }
.e1 { width: 20px; height: 20px; background-position: -21px -84px; }
.e2 { width: 20px; height: 20px; background-position: -42px -84px; }
.e { width: 20px; height: 20px; background-position: -63px -84px; }
.f1 { width: 20px; height: 20px; background-position: -84px -84px; }
.f2 { width: 20px; height: 20px; background-position: -105px -84px; }
.f { width: 20px; height: 20px; background-position: 0 -105px; }
.ff1 { width: 20px; height: 20px; background-position: -21px -105px; }
.ff2 { width: 20px; height: 20px; background-position: -42px -105px; }
.ff { width: 20px; height: 20px; background-position: -82px -105px; }
.g1 { width: 20px; height: 20px; background-position: -103px -105px; }
.g2 { width: 20px; height: 20px; background-position: 0 -126px; }
.g { width: 20px; height: 20px; background-position: -44px -126px; }
.gg1 { width: 20px; height: 20px; background-position: -65px -126px; }
.gg2 { width: 20px; height: 20px; background-position: -86px -126px; }
.gg { width: 20px; height: 20px; background-position: -107px -126px; }
.h1 { width: 20px; height: 20px; background-position: -128px -126px; }
.h2 { width: 20px; height: 20px; background-position: 0 -147px; }
.h { width: 20px; height: 20px; background-position: -105px -147px; }
.hh1 { width: 20px; height: 20px; background-position: -126px -147px; }
.hh2 { width: 20px; height: 20px; background-position: 0 -168px; }
.hh { width: 20px; height: 20px; background-position: -59px -168px; }
.i1 { width: 22px; height: 20px; background-position: -42px -42px; }
.i2 { width: 22px; height: 20px; background-position: -65px -42px; }
.i { width: 22px; height: 20px; background-position: 0 -63px; }
.ii1 { width: 20px; height: 20px; background-position: -80px -168px; }
.ii2 { width: 20px; height: 20px; background-position: -101px -168px; }
.ii { width: 20px; height: 20px; background-position: -122px -168px; }
.j1 { width: 18px; height: 20px; background-position: -86px -147px; }
.j2 { width: 18px; height: 20px; background-position: -21px -168px; }
.j { width: 18px; height: 20px; background-position: -40px -168px; }
.jj1 { width: 20px; height: 20px; background-position: 0 -189px; }
.jj2 { width: 20px; height: 20px; background-position: -21px -189px; }
.jj { width: 20px; height: 20px; background-position: -42px -189px; }
.k1 { width: 20px; height: 20px; background-position: -63px -189px; }
.k2 { width: 20px; height: 20px; background-position: -84px -189px; }
.k { width: 20px; height: 20px; background-position: -128px -189px; }
.kk1 { width: 20px; height: 20px; background-position: 0 -210px; }
.kk2 { width: 20px; height: 20px; background-position: -21px -210px; }
.kk { width: 20px; height: 20px; background-position: -61px -210px; }
.l1 { width: 22px; height: 20px; background-position: -86px -63px; }
.l2 { width: 22px; height: 20px; background-position: -126px -63px; }
.l { width: 22px; height: 20px; background-position: -124px -105px; }
.ll1 { width: 18px; height: 20px; background-position: -42px -210px; }
.ll2 { width: 18px; height: 20px; background-position: -21px -252px; }
.ll { width: 18px; height: 20px; background-position: -44px -336px; }
.m1 { width: 20px; height: 20px; background-position: -82px -210px; }
.m2 { width: 20px; height: 20px; background-position: -126px -210px; }
.m { width: 20px; height: 20px; background-position: 0 -231px; }
.mm1 { width: 20px; height: 20px; background-position: -21px -231px; }
.mm2 { width: 20px; height: 20px; background-position: -65px -231px; }
.mm { width: 20px; height: 20px; background-position: -86px -231px; }
.muxa1 { width: 18px; height: 20px; background-position: -86px -378px; }
.muxa2 { width: 18px; height: 20px; background-position: -42px -420px; }
.muxa { width: 18px; height: 20px; background-position: -128px -420px; }
.muxb1 { width: 20px; height: 20px; background-position: -130px -231px; }
.muxb2 { width: 20px; height: 20px; background-position: 0 -252px; }
.muxb { width: 20px; height: 20px; background-position: -40px -252px; }
.muxc1 { width: 20px; height: 20px; background-position: -61px -252px; }
.muxc2 { width: 20px; height: 20px; background-position: -82px -252px; }
.muxc { width: 20px; height: 20px; background-position: -126px -252px; }
.muxd1 { width: 20px; height: 20px; background-position: 0 -273px; }
.muxd2 { width: 20px; height: 20px; background-position: -21px -273px; }
.muxd { width: 20px; height: 20px; background-position: -42px -273px; }
.muxe1 { width: 20px; height: 20px; background-position: -63px -273px; }
.muxe2 { width: 20px; height: 20px; background-position: -84px -273px; }
.muxe { width: 20px; height: 20px; background-position: -128px -273px; }
.muxf1 { width: 22px; height: 20px; background-position: -21px -126px; }
.muxf2 { width: 22px; height: 20px; background-position: -21px -147px; }
.muxf { width: 22px; height: 20px; background-position: -63px -147px; }
.muxg1 { width: 20px; height: 20px; background-position: 0 -294px; }
.muxg2 { width: 20px; height: 20px; background-position: -21px -294px; }
.muxg { width: 20px; height: 20px; background-position: -65px -294px; }
.muxh1 { width: 20px; height: 20px; background-position: -86px -294px; }
.muxh2 { width: 20px; height: 20px; background-position: -130px -294px; }
.muxh { width: 20px; height: 20px; background-position: 0 -315px; }
.muxi1 { width: 20px; height: 20px; background-position: -21px -315px; }
.muxi2 { width: 20px; height: 20px; background-position: -65px -315px; }
.muxi { width: 20px; height: 20px; background-position: -86px -315px; }
.muxj1 { width: 22px; height: 20px; background-position: -105px -189px; }
.muxj2 { width: 22px; height: 20px; background-position: -103px -210px; }
.muxj { width: 22px; height: 20px; background-position: -42px -231px; }
.muxk1 { width: 20px; height: 20px; background-position: -130px -315px; }
.muxk2 { width: 20px; height: 20px; background-position: -23px -336px; }
.muxk { width: 20px; height: 20px; background-position: -63px -336px; }
.muxl1 { width: 20px; height: 20px; background-position: -84px -336px; }
.muxl2 { width: 20px; height: 20px; background-position: -105px -336px; }
.muxl { width: 20px; height: 20px; background-position: -126px -336px; }
.n1 { width: 22px; height: 20px; background-position: -107px -231px; }
.n2 { width: 22px; height: 20px; background-position: -103px -252px; }
.n { width: 22px; height: 20px; background-position: -105px -273px; }
.nn1 { width: 20px; height: 20px; background-position: -23px -357px; }
.nn2 { width: 20px; height: 20px; background-position: -44px -357px; }
.nn { width: 20px; height: 20px; background-position: -65px -357px; }
.o1 { width: 20px; height: 20px; background-position: -86px -357px; }
.o2 { width: 20px; height: 20px; background-position: -130px -357px; }
.o { width: 20px; height: 20px; background-position: -23px -378px; }
.oo1 { width: 20px; height: 20px; background-position: -44px -378px; }
.oo2 { width: 20px; height: 20px; background-position: -65px -378px; }
.oo { width: 20px; height: 20px; background-position: -128px -378px; }
.p1 { width: 22px; height: 20px; background-position: -42px -294px; }
.p2 { width: 22px; height: 20px; background-position: -107px -294px; }
.p { width: 22px; height: 20px; background-position: -42px -315px; }
.q1 { width: 22px; height: 20px; background-position: -107px -315px; }
.q2 { width: 22px; height: 20px; background-position: 0 -336px; }
.q { width: 22px; height: 20px; background-position: 0 -357px; }
.r1 { width: 22px; height: 20px; background-position: -107px -357px; }
.r2 { width: 22px; height: 20px; background-position: 0 -378px; }
.r { width: 22px; height: 20px; background-position: -105px -378px; }
.s1 { width: 20px; height: 20px; background-position: 0 -399px; }
.s2 { width: 20px; height: 20px; background-position: -21px -399px; }
.s { width: 20px; height: 20px; background-position: -42px -399px; }
.t1 { width: 20px; height: 20px; background-position: -63px -399px; }
.t2 { width: 20px; height: 20px; background-position: -84px -399px; }
.t { width: 20px; height: 20px; background-position: -128px -399px; }
.u1 { width: 20px; height: 20px; background-position: 0 -420px; }
.u2 { width: 20px; height: 20px; background-position: -21px -420px; }
.u { width: 20px; height: 20px; background-position: -107px -420px; }
.v1 { width: 22px; height: 20px; background-position: -105px -399px; }
.v2 { width: 22px; height: 20px; background-position: -61px -420px; }
.v { width: 22px; height: 20px; background-position: -84px -420px; }
.w1 { width: 22px; height: 20px; background-position: -21px -441px; }
.w2 { width: 22px; height: 20px; background-position: -42px -462px; }
.w { width: 22px; height: 20px; background-position: -65px -462px; }
.x1 { width: 20px; height: 20px; background-position: 0 -441px; }
.x2 { width: 20px; height: 20px; background-position: -44px -441px; }
.x { width: 20px; height: 20px; background-position: -65px -441px; }
.y1 { width: 20px; height: 20px; background-position: -86px -441px; }
.y2 { width: 20px; height: 20px; background-position: -107px -441px; }
.y { width: 20px; height: 20px; background-position: -128px -441px; }
.z1 { width: 20px; height: 20px; background-position: 0 -462px; }
.z2 { width: 20px; height: 20px; background-position: -21px -462px; }
.z { width: 20px; height: 20px; background-position: -88px -462px; }
