.menu-sprites { background: url(sprites.png) no-repeat; display: inline-block;}
.a1 { width: 20px; height: 20px; background-position: 0 0; }
.a2 { width: 20px; height: 20px; background-position: -44px 0; }
.a { width: 20px; height: 20px; background-position: -107px 0; }
.aa1 { width: 20px; height: 20px; background-position: 0 -21px; }
.aa2 { width: 20px; height: 20px; background-position: -44px -21px; }
.aa { width: 20px; height: 20px; background-position: -65px -21px; }
.b1 { width: 18px; height: 20px; background-position: -65px 0; }
.b2 { width: 18px; height: 20px; background-position: -23px -84px; }
.b { width: 18px; height: 20px; background-position: 0 -105px; }
.bb1 { width: 22px; height: 20px; background-position: -21px 0; }
.bb2 { width: 22px; height: 20px; background-position: -84px 0; }
.bb { width: 22px; height: 20px; background-position: -128px 0; }
.c1 { width: 20px; height: 20px; background-position: -86px -21px; }
.c2 { width: 20px; height: 20px; background-position: -107px -21px; }
.c { width: 20px; height: 20px; background-position: -128px -21px; }
.cc1 { width: 20px; height: 20px; background-position: 0 -42px; }
.cc2 { width: 20px; height: 20px; background-position: -21px -42px; }
.cc { width: 20px; height: 20px; background-position: -42px -42px; }
.d1 { width: 18px; height: 20px; background-position: -128px -105px; }
.d2 { width: 18px; height: 20px; background-position: -128px -147px; }
.d { width: 18px; height: 20px; background-position: -107px -168px; }
.dd1 { width: 20px; height: 20px; background-position: -86px -42px; }
.dd2 { width: 20px; height: 20px; background-position: -107px -42px; }
.dd { width: 20px; height: 20px; background-position: -128px -42px; }
.e1 { width: 20px; height: 20px; background-position: -23px -63px; }
.e2 { width: 20px; height: 20px; background-position: -67px -63px; }
.e { width: 20px; height: 20px; background-position: -88px -63px; }
.f1 { width: 20px; height: 20px; background-position: -109px -63px; }
.f2 { width: 20px; height: 20px; background-position: -42px -84px; }
.f { width: 20px; height: 20px; background-position: -86px -84px; }
.ff1 { width: 20px; height: 20px; background-position: -107px -84px; }
.ff2 { width: 20px; height: 20px; background-position: -128px -84px; }
.ff { width: 20px; height: 20px; background-position: -42px -105px; }
.g1 { width: 20px; height: 20px; background-position: -63px -105px; }
.g2 { width: 20px; height: 20px; background-position: -107px -105px; }
.g { width: 20px; height: 20px; background-position: 0 -126px; }
.gg1 { width: 20px; height: 20px; background-position: -21px -126px; }
.gg2 { width: 20px; height: 20px; background-position: -88px -126px; }
.gg { width: 20px; height: 20px; background-position: -109px -126px; }
.h1 { width: 20px; height: 20px; background-position: 0 -147px; }
.h2 { width: 20px; height: 20px; background-position: -21px -147px; }
.h { width: 20px; height: 20px; background-position: -42px -147px; }
.hh1 { width: 20px; height: 20px; background-position: -63px -147px; }
.hh2 { width: 20px; height: 20px; background-position: -84px -147px; }
.hh { width: 20px; height: 20px; background-position: 0 -168px; }
.i1 { width: 22px; height: 20px; background-position: -21px -21px; }
.i2 { width: 22px; height: 20px; background-position: -63px -42px; }
.i { width: 22px; height: 20px; background-position: 0 -63px; }
.ii1 { width: 20px; height: 20px; background-position: -21px -168px; }
.ii2 { width: 20px; height: 20px; background-position: -65px -168px; }
.ii { width: 20px; height: 20px; background-position: -86px -168px; }
.j1 { width: 18px; height: 20px; background-position: -126px -168px; }
.j2 { width: 18px; height: 20px; background-position: -44px -189px; }
.j { width: 18px; height: 20px; background-position: 0 -273px; }
.jj1 { width: 20px; height: 20px; background-position: -23px -189px; }
.jj2 { width: 20px; height: 20px; background-position: -63px -189px; }
.jj { width: 20px; height: 20px; background-position: -84px -189px; }
.k1 { width: 20px; height: 20px; background-position: -105px -189px; }
.k2 { width: 20px; height: 20px; background-position: -126px -189px; }
.k { width: 20px; height: 20px; background-position: -23px -210px; }
.kk1 { width: 20px; height: 20px; background-position: -67px -210px; }
.kk2 { width: 20px; height: 20px; background-position: -88px -210px; }
.kk { width: 20px; height: 20px; background-position: -109px -210px; }
.l1 { width: 22px; height: 20px; background-position: -44px -63px; }
.l2 { width: 22px; height: 20px; background-position: 0 -84px; }
.l { width: 22px; height: 20px; background-position: -63px -84px; }
.ll1 { width: 18px; height: 20px; background-position: -126px -294px; }
.ll2 { width: 18px; height: 20px; background-position: -42px -315px; }
.ll { width: 18px; height: 20px; background-position: -63px -336px; }
.m1 { width: 20px; height: 20px; background-position: -23px -231px; }
.m2 { width: 20px; height: 20px; background-position: -90px -231px; }
.m { width: 20px; height: 20px; background-position: -111px -231px; }
.mm1 { width: 20px; height: 20px; background-position: 0 -252px; }
.mm2 { width: 20px; height: 20px; background-position: -44px -252px; }
.mm { width: 20px; height: 20px; background-position: -65px -252px; }
.n1 { width: 22px; height: 20px; background-position: -19px -105px; }
.n2 { width: 22px; height: 20px; background-position: -84px -105px; }
.n { width: 22px; height: 20px; background-position: -42px -126px; }
.nn1 { width: 20px; height: 20px; background-position: -86px -252px; }
.nn2 { width: 20px; height: 20px; background-position: -107px -252px; }
.nn { width: 20px; height: 20px; background-position: -128px -252px; }
.o1 { width: 20px; height: 20px; background-position: -19px -273px; }
.o2 { width: 20px; height: 20px; background-position: -40px -273px; }
.o { width: 20px; height: 20px; background-position: -84px -273px; }
.oo1 { width: 20px; height: 20px; background-position: -105px -273px; }
.oo2 { width: 20px; height: 20px; background-position: -126px -273px; }
.oo { width: 20px; height: 20px; background-position: 0 -294px; }
.p1 { width: 22px; height: 20px; background-position: -65px -126px; }
.p2 { width: 22px; height: 20px; background-position: -105px -147px; }
.p { width: 22px; height: 20px; background-position: -42px -168px; }
.q1 { width: 22px; height: 20px; background-position: 0 -189px; }
.q2 { width: 22px; height: 20px; background-position: 0 -210px; }
.q { width: 22px; height: 20px; background-position: -44px -210px; }
.r1 { width: 22px; height: 20px; background-position: 0 -231px; }
.r2 { width: 22px; height: 20px; background-position: -44px -231px; }
.r { width: 22px; height: 20px; background-position: -67px -231px; }
.s1 { width: 20px; height: 20px; background-position: -21px -294px; }
.s2 { width: 20px; height: 20px; background-position: -42px -294px; }
.s { width: 20px; height: 20px; background-position: -63px -294px; }
.t1 { width: 20px; height: 20px; background-position: -84px -294px; }
.t2 { width: 20px; height: 20px; background-position: -105px -294px; }
.t { width: 20px; height: 20px; background-position: 0 -315px; }
.u1 { width: 20px; height: 20px; background-position: -21px -315px; }
.u2 { width: 20px; height: 20px; background-position: -61px -315px; }
.u { width: 20px; height: 20px; background-position: -82px -315px; }
.v1 { width: 22px; height: 20px; background-position: -21px -252px; }
.v2 { width: 22px; height: 20px; background-position: -61px -273px; }
.v { width: 22px; height: 20px; background-position: -103px -336px; }
.w1 { width: 22px; height: 20px; background-position: -126px -336px; }
.w2 { width: 22px; height: 20px; background-position: -21px -357px; }
.w { width: 22px; height: 20px; background-position: -44px -357px; }
.x1 { width: 20px; height: 20px; background-position: -103px -315px; }
.x2 { width: 20px; height: 20px; background-position: -124px -315px; }
.x { width: 20px; height: 20px; background-position: 0 -336px; }
.y1 { width: 20px; height: 20px; background-position: -21px -336px; }
.y2 { width: 20px; height: 20px; background-position: -42px -336px; }
.y { width: 20px; height: 20px; background-position: -82px -336px; }
.z1 { width: 20px; height: 20px; background-position: 0 -357px; }
.z2 { width: 20px; height: 20px; background-position: -67px -357px; }
.z { width: 20px; height: 20px; background-position: -88px -357px; }
